.prin{
    padding-top: 10vh;
}

  
.card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
  
  .card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  .cardi{
    margin-bottom: 25px;
  }
  
  .card {
    margin-top: 2em;
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 65%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card .card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  .card-img-top{
    border-radius: 5px;
    height: 15px;
    width: 5px;
}
// la pieds de page vide 
.card-img{
    height: 100PX;
}
.vide{
    padding-top: 100PX;
  }
//   la partie recherche avec pagination
.card-bod{
    height: 250PX;
}
.btn{
    background-color: #FF7900;
    width: 200PX;
    border-radius: 10PX;
}
.ion-align-self-center{
    margin-left: 15%;
    
}
.card-text{
    text-align: justify;
    padding :20PX;
  
}

.cardext{
  PADDING-left: 40PX;
  padding-right: 40PX;
  
}

.card-img{
    height: 200PX;
    border-radius: 05px;
}
.card-title{
    padding-top: 15PX;
}
.col-12{
  font-weight: bolder;
  padding-top: 50px;
  FONT-SIZE: 25px;
}
  .pag{
    text-align: center;
  }












// djigiba