<ion-content>
  <div class="prin">
    <div class="content">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            
            <div class="wrapper bg-white">
              <div class="h2 text-center">Malitourist</div>
              <div class="h4 text-muted text-center pt-2">Enter your login details</div>
              <form class="pt-3" name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && onSubmit()">
                  <div class="form-group py-2">
                      <div class="input-field">
                          <span class="far fa-user p-2"></span>
                          <input type="text" placeholder="Nom d'utilisateur ou adresse e-email" name="username" id="username" required="" [(ngModel)]="form.username" #username="ngModel">
                      </div>
                  </div>
                  <div class="form-group py-1 pb-2">
                      <div class="input-field">
                          <span class="fas fa-lock p-2"></span>
                          <input type="text" placeholder="Entrez votre mot de passe" name="password" id="password" required="" [(ngModel)]="form.password" #password="ngModel">
                          <button class="btn bg-white text-muted">
                              <span class="far fa-eye-slash"></span>
                          </button>
                      </div>
                  </div>
                  <div class="d-flex align-items-start">
                      <div class="remember">
                          <label class="option text-muted"> Se souvenir 
                              <input type="radio" name="radio">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                      <div class="ml-auto">
                          <a href="#" id="forgot"> <br> Mot de passe oublié ?</a>
                      </div>
                  </div>
                <button class="btn-block" (click)="onSubmit()">Connexion</button>
                  <div class="text-center pt-3 text-muted">Not a member ? <a href="#">Inscription</a></div>
                  
                  <!--  -->
                  <div class="mx-3 my-2 py-2 bordert">
                    <div class="text-center py-3">
                      <a href="https://wwww.facebook.com" target="_blank" class="px-2">
                        <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt="">
                      </a>
                      <a href="https://www.google.com" target="_blank" class="px-2">
                        <img
                          src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                          alt="">
                      </a>
    
                      <a href="https://www.github.com" target="_blank" class="px-2">
                        <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png"
                          alt="">
                      </a>
                    </div>
                  </div>
              </form>
          </div>
          </div>
        </div>
      </div>
      
    </div>
















































  </div>
  <P class="vide"></P>
</ion-content>