<!--<div class="img">
  <div>

  </div>
</div> -->
<ion-header>
  <ion-toolbar>
  
    

<div class="hero">
  <nav>
    <h2> <img src="../../assets/images/logo.png" alt="logo"></h2>
    <ul>
      <li style="background-color: black;"><a routerLink="/accueil" style="background-color: black;">ACCUEIL</a></li>
      <li style="background-color: black;"><a routerLink="/regions" style="background-color: black;">REGIONS</a></li>
      <li style="background-color: black;"><a routerLink="/dashboard" style="background-color: black;">DASHBOARD</a>
      </li>

    </ul>
    <a routerLink="/login"><button type="button">CONNEXION</button></a>
  </nav>
</div>
   
  </ion-toolbar>
</ion-header>
