<ion-content>

  <div class="prin">

    <a href="https://fr.wikipedia.org/wiki/Mali"><button type="button">LE MALI</button></a>
    <div class="content">
      BIENVENUE SUR MALI TOURIST
    </div>

    <div class="container text-center">
      <div class="row">

        <!-- <div class="col">
          <img class="imagecenter" src="assets/images/fronttou.jpg" alt="">
        </div> -->

        <ion-slides pager="true">
          <ion-slide>
            <img class="imagecenter" src="assets/images/fronta.jpg" alt="">
          </ion-slide>
          <ion-slide>
            <img class="imagecenter" src="assets/images/frontb.jpg" alt="">
          </ion-slide>
          <ion-slide>
            <img class="imagecenter" src="assets/images/frontc.jpg" alt="">
          </ion-slide>
        </ion-slides>
        
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-8">
      <p>
      Berceau des grands empires et royaumes d’Afrique de l’Ouest, le
      Mali riche de son passé glorieux constitue une des destinations
      touristiques les plus prisées de l’espace CEDEAO grâce
      notamment à la richesse et à la diversité de ses ressources
      touristiques. <br>
      Cette richesse et cette diversité en ressources
      touristiques
      s’explique avant tout par la présence d’un patrimoine historique
      et culturel unique qui ont prévalu à leur inscription sur le label
      UNESCO. <br>

      Le Mali, en forme longue la république du Mali, est un État d'Afrique de l'Ouest, frontalier de la Mauritanie à
      l'ouest, de l'Algérie au nord-nord-est, du Niger à l'est, du Burkina Faso et de la Côte d'Ivoire au sud-sud-ouest,
      de la Guinée au sud-ouest et du Sénégal à l'ouest-sud-ouest. Le pays a trois zones climatiques : les deux tiers
      nord
      du pays se situent dans le Sahara, le centre du pays est sahelien, et le sud du pays se trouve dans la savane
      soudanienne occidentale. Sa capitale est Bamako, dont l'aire urbaine compte 2,529 millions d'habitants en 20197.

      Avec 20 millions de résidents, la population malienne est constituée de différentes ethnies, dont les principales
      sont les Bambaras, les Bobos, les Bozos, les Dogons, les Khassonkés, les Malinkés, les Miniankas, les Peuls, les
      Sénoufos, les Soninkés (ou Sarakolés), les Sonrhaïs, les Touaregs, les Toucouleurs. Le français est la langue
      officielle, mais la population parle majoritairement les langues nationales, le bambara étant la plus utilisée et
      servant, parallèlement au français, de langue véhiculaire.

    </p>
        </div>
      
        <div class="col">
          <img src="assets/images/mali.jpg" alt="" class="mali">
        </div>
      </div>


    </div>
   
  </div>

    <div class="container ">
      <div class="row">

        <div class="col-auto">
          <div class="card" style="width:18rem;">
            <img src="assets/images/nature.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Site Naturels</h5>
              <p class="card-text">Le Mali a des forêts classées et des parcs de réserves de faunes. La faune malienne
                est très riche, elle se caractérise par une diversité desespèces. On y compte plus de 138 espèces de
                mammifères 143 espèces de poissons..</p>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="card" style="width: 18rem;">
            <img src="assets/images/dogon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Offres Culturelles</h5>
              <p class="card-text">Le Mali a des forêts classées et des parcs de réserves de faunes. La faune malienne
                est très riche, elle se caractérise par une diversité desespèces. On y compte plus de 138 espèces de
                mammifères 143 espèces de poissons..</p>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="card" style="width: 18rem;">
            <img src="assets/images/nature.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Site Naturels</h5>
              <p class="card-text">Le Mali a des forêts classées et des parcs de réserves de faunes. La faune malienne
                est très riche, elle se caractérise par une diversité desespèces. On y compte plus de 138 espèces de
                mammifères 143 espèces de poissons..</p>
            </div>
          </div>
        </div>
      

         <div class="col-auto">
          <div class="card" style="width: 18rem;">
            <img src="assets/images/nature.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Site Naturels</h5>
              <p class="card-text">Le Mali a des forêts classées et des parcs de réserves de faunes. La faune malienne
                est très riche, elle se caractérise par une diversité desespèces. On y compte plus de 138 espèces de
                mammifères 143 espèces de poissons..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  

  <P class="vide"></P>
</ion-content>