
.prin{
    padding-top: 50PX;
}
button {
    border: none;
    background: #ff7900;
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 74px;
    margin-top: 50px;
  
  }
  
  .content {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 30px;
    color: black;
    font-size: 25px;
    font-weight: bold;
  }
  
  p {
    // overflow: hidden;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    color: black;
    font-size: 20px;
    padding-top: 20px;
  }
  
  
  
  img {
    width: 65%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  .mali{
    HEIGHT: 616px;
    width: 100%;
    padding-top: 50px;
  }
  
  .card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
  
  .card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  
  
  .card {
    margin-top: 2em;
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 65%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card .card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  

  //la partie card
  .card{
    // margin-left: 45vh;
    padding-bottom: 10PX;
  }
  .vide{
    padding-top: 100PX;
  }

  .imagecenter{
  
    width: 100%;

    
  }
  